* {
  margin: 0;
  padding: 0;
  /* Used for padding. So that the size does not change */
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}

header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  transition: all 1s;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

a:first-child {
  color: yellow;
  text-decoration: none;
}

a:focus {
  color: green;
  text-decoration: underline;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

button {
  cursor: pointer;
}
li {
  background: green;
}

li:nth-child(2n + 10) {
  background: red;
}

#hero-banner {
  height: 50vh;
  background: url(https://source.unsplash.com/daily) no-repeat fixed center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* The  only difference ::before and ::after - if you use it for text, it will be either before the text or after the text*/
#hero-banner::after {
  /* has to have content, otherwise it does not show */
  content: "";
  background-color: rgba(209, 98, 200, 0.507);
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Here we make the text visible on top of the other content */
#hero-banner h3 {
  z-index: 1;
  color: white;
}

#hero-banner h3::first-letter {
  z-index: 1;
  color: yellow;
  font-size: 5rem;
}

#boxes {
  position: relative;
  background-color: pink;
  margin-bottom: 0;
}

.box {
  height: 100px;
  width: 100px;
  background: green;
  border: white solid 1px;
}

/* Parent has to have position relative! */
.box:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.box:nth-child(1) {
  position: sticky;
  top: 650px;
}

footer {
  height: 15vh;
  background-color: yellow;
}
