* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav li {
  display: inline;
}

.banner {
  text-align: center;
  color: #39638a;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: #39638a;
  text-align: center;
}

main {
  background-color: #a7bfd6;
}
section {
  clear: both;
  padding: 20px;
}

nav {
  padding: 20px;
}

footer {
  padding: 20px;
  clear: both;
  text-align: center;
}
.logo {
  width: 80px;
  border-radius: 50%;
  background-color: #ffffff;
}

img {
  width: 150px;
  background-color: white;
  margin: 10px;
}

.left-pic {
  float: left;
}

.right-pic {
  float: right;
}

body {
  background: #f5eceb;
}

p,
h1,
h2,
h3 {
  color: #39638a;
}

a {
  color: #a7bfd6;
}

a:active {
  color: #d1d692;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
