img {
  width: 200px;
  border-radius: 50%;
  background-color: #f5eceb;
}

body {
  background-color: #a7bfd6;
}

p,
h3 {
  color: #39638a;
}

h1,
h2,
a {
  color: #878a65;
}

a:active {
  color: #d1d692;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
