* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body,
input,
label,
textarea {
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 50px;
  margin: 0.5rem;
  flex: 1;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100vw;
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 100%;
  padding: 1rem;
}

.newHeader {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.3rem;
}

nav {
  flex: 2;
}

nav li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

nav a {
  color: #878a65;
  text-decoration: none;
  font-family: "Amatic SC";
  font-size: 24px;
}

nav a:hover {
  color: #d1d692;
}

#heroBanner {
  background-image: linear-gradient(to bottom, #f5eceb, #a7bfd6);
  height: 75vh;
  /* To make the content it centered */
  display: flex;
  align-items: center;
  justify-content: center;
}

#bannerTextBig {
  font-size: 64px;
  color: #39638a;
  font-weight: 700;
}

#bannerTextSmall {
  font-size: 64px;
  color: #39638a;
  font-weight: 300;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
}

.cards {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

article {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  width: 30%;
  border-radius: 10px;
}

.light-section {
  width: 100vw;
  background-color: #f5eceb;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.dark-section {
  width: 100vw;
  background-color: #a7bfd6;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.text-picture {
  width: 13rem;
}

.left-pic {
}

.right-pic {
}

h1,
h2 {
  font-family: "Amatic SC";
  color: #878a65;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
}

a {
  color: #878a65;
}

footer {
  padding: 5px;
  clear: both;
  background-color: #39638a;
}

footer p,
footer h1,
footer h2,
footer h3,
footer label {
  color: #f5eceb;
  font-weight: 300;
}

label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

input,
textarea {
  display: block;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #f5eceb;
  border-radius: 5px;
  background-color: #f5eceb;
  width: 100%;
  color: #39638a;
}

.footer-container {
  max-width: 800px;
  min-height: 500px;
  margin: 30px auto;
}

.left-footer {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 30px;
}

.right-footer {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 30px;
  padding-top: 100px;
}

.copyright {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.footer-icon {
  height: 50px;
  margin: 60px 20px;
}

.send-button {
  padding: 10px 30px;
  margin: 20px auto;
  color: #39638a;
  background-color: #a7bfd6;
  border: none;
  border-radius: 6px;
}
