* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body,
input,
label,
textarea {
  font-family: "Open Sans", sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.newHeader {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.3rem;
}

.logo {
  height: 4rem;
  margin: 0.5rem;
}

nav li {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav a {
  color: #878a65;
  text-decoration: none;
  font-family: "Amatic SC";
  font-size: 1.5rem;
}

nav a:hover {
  color: #d1d692;
  text-decoration: underline;
}

#heroBanner {
  background-image: linear-gradient(to bottom, #f5eceb, #a7bfd6);
  background-image: url(img/11Artboard.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat;
  min-height: 75vh;
  /* To make the content it centered */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  text-align: center;
}

#bannerTextBig {
  font-size: 5rem;
  color: #39638a;
  font-weight: 700;
}

#bannerTextSmall {
  font-size: 4rem;
  color: #39638a;
  font-weight: 300;
}

#mobileButton {
  display: none;
}

.material-icons {
  font-size: 1rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section,
footer {
  scroll-margin-top: 98px;
}

.colored-section:nth-child(even) {
  width: 100%;
  background-color: #a7bfd6;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.colored-section:nth-child(odd) {
  width: 100%;
  background-color: #f5eceb;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  flex: 1;
  border-radius: 10px;
  margin: 1rem;
  min-width: 8rem;
  max-width: 20rem;
}

.card-picture {
  width: 100%;
  margin-bottom: 1.5rem;
}

.text-picture {
  width: 13rem;
  margin: 1rem;
}

h1,
h2 {
  font-family: "Amatic SC";
  color: #878a65;
  margin: 1rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 1rem;
  margin: 1rem;
}

a {
  color: #878a65;
  font-size: 0.9rem;
}

a:hover {
  color: #d1d692;
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #39638a;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.footer-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.contacts-container {
  display: flex;
  flex-direction: row;
}

.left-footer {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-width: 55rem;
}

.right-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.social-media-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer p,
footer h1,
footer h2,
footer h3,
footer label {
  color: #f5eceb;
  font-weight: 300;
}

label {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

input,
textarea {
  padding: 5px 5px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #f5eceb;
  border-radius: 5px;
  background-color: #f5eceb;
  width: 100%;
  color: #39638a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.send-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  min-width: 33%;
  color: #39638a;
  background-color: #a7bfd6;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-icon {
  height: 4rem;
  margin: 1rem;
}

#topButton {
  display: none;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 0.3rem;
  border: none;
  border-radius: 100%;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
}

.arrow {
  color: #878a65;
  font-size: 2rem;
}

.copyright {
  width: 100%;
  text-align: center;
  margin: 20px;
}

/* Does not work ithout viewport in html */
@media (max-width: 576px) {
  #mobileButton {
    display: block;
    color: #878a65;
    background-color: transparent;
    border: solid 1px #878a65;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.2rem 0.3rem;
    line-height: 0.2rem;
  }

  #mobileButton:active {
    border: none;
    text-decoration: none;
  }

  #mobileButton:visited {
    border: none;
    text-decoration: none;
  }

  nav ul {
    display: none;
  }

  header {
    background-color: rgba(255, 255, 255, 0.856);
    padding: 0.3rem;
  }

  nav.responsive ul {
    display: block;
    background-color: rgba(255, 255, 255, 0.856);
    position: absolute;
    width: 100%;
    min-height: 336px;
    top: 90px;
    left: 0;
  }

  nav ul li {
    display: block;
  }
  nav ul li a {
    display: block;
    padding: 1rem 2rem;
  }

  #bannerTextBig {
    font-size: 4rem;
    font-weight: 700;
  }

  #bannerTextSmall {
    font-size: 3rem;
    font-weight: 300;
  }
  .contacts-container {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    text-align: left;
  }
}
